* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif !important;
    color: var(--black-color);
    transition: 0.1s;
    &:focus-visible {
        outline: none;
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--bg-color);
}
