:root {
    --header-bg-color: #fff;
    --bg-color: #ededed;
    --black-color: #141414;
    --white-color: #fff;
    --green-color: #009688;
    --green-additional-color: #10ba18;
    --blue-color: #0088cc;
    --yellow-color: #eabc00;
    --pirple-color: #8e24aa;
    --border-radius: 8px;
    --box-shadow-hover-btn: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
