:root {
    --bg-color: #e9e9e9;
    --white-color: #fff;
    --white-color-bg: #e9e9e9;
    --white-color-transparent: #ffffff9f;
    --black-color: #19191b;
    --black-transparent: #00000099;
    --green-color: #009688;
    --green-additional-color: #10ba18;
    --blue-color: #0088cc;
    --yellow-color: #eabc00;
    --pirple-color: #8e24aa;
    --blur: blur(15px);
    --border-radius: 12px;
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
