.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-transparent);
    backdrop-filter: var(--blur);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2 !important;
}

.Modal-Content {
    background-color: var(--white-color);
    padding: 20px 0px 20px 20px;
    border-radius: var(--border-radius) 9px 9px var(--border-radius);
    position: relative;
}

.Modal-Close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: transform 800ms 0ms ease;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--transparent);
    z-index: 2;
    svg {
        width: 18px;
        height: 18px;
        display: flex;
        path {
            fill: var(--white-color);
        }
    }
    &:hover {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
    }
}

.Modal-List__Content {
    display: flex;
    li {
        h3 {
            text-align: center;
            font-size: 25px;
            margin: 20px 0;
        }
    }
}

.Form-List {
    li {
        label {
            input,
            textarea {
                border: 1px solid var(--bg-color);
                background-color: var(--white-color);
                padding: 10px 20px;
                font-size: 15px;
                margin: 10px 0px 0px 0px;
                border-radius: var(--border-radius);
                height: 55px;
                width: 100%;
                &:hover {
                    background-color: var(--bg-color);
                }
            }
            textarea {
                padding-top: 15px;
                height: 117px;
                width: 330px;
                resize: vertical;
            }
        }
    }
}

.Form-Item__termsOfUse {
    margin: 15px 0;
    label {
        margin-left: 10px;
    }
}

.Form-Item__Button {
    margin-top: 10px;
    input {
        padding: 20px;
        width: 100%;
        border-radius: var(--border-radius);
        font-weight: bold;
        background-color: #fecb00;
        &:hover {
            cursor: pointer;
            background-color: var(--yellow-color);
            box-shadow: var(--box-shadow);
        }
    }
}

.Modal-Item__Image {
    ul {
        li {
            &:first-child {
                position: absolute;
                background-color: var(--black-transparent);
                width: 360px;
                border-radius: 0 var(--border-radius) var(--border-radius) 0;
                backdrop-filter: blur(3px);
                top: 0;
                right: 0px;
                bottom: 0;
                z-index: 1;
            }
            &:last-child {
                position: relative !important;
                img {
                    width: 360px;
                    height: 360px;
                    object-fit: cover;
                    margin-left: 30px;
                    border-radius: var(--border-radius);
                }
            }
        }
    }
}
