@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
.image-gallery-icon {
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  -webkit-filter: drop-shadow(0 2px 2px #1a1a1a);
          filter: drop-shadow(0 2px 2px #1a1a1a);
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #337ab7;
  }
  .image-gallery-icon:hover .image-gallery-svg {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.image-gallery-icon:focus {
  outline: 2px solid #337ab7;
}

.image-gallery-using-mouse .image-gallery-icon:focus {
  outline: none;
}

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: 20px;
}
.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 28px;
  width: 28px;
}
@media (max-width: 768px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 15px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 24px;
    width: 24px;
  }
}
@media (max-width: 480px) {
  .image-gallery-fullscreen-button,
  .image-gallery-play-button {
    padding: 10px;
  }
  .image-gallery-fullscreen-button .image-gallery-svg,
  .image-gallery-play-button .image-gallery-svg {
    height: 16px;
    width: 16px;
  }
}

.image-gallery-fullscreen-button {
  right: 0;
}

.image-gallery-play-button {
  left: 0;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 50px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
}
@media (max-width: 768px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 72px;
    width: 36px;
  }
}
@media (max-width: 480px) {
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 48px;
    width: 24px;
  }
}
.image-gallery-left-nav[disabled],
.image-gallery-right-nav[disabled] {
  cursor: disabled;
  opacity: 0.6;
  pointer-events: none;
}

.image-gallery-left-nav {
  left: 0;
}

.image-gallery-right-nav {
  right: 0;
}

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
}
.image-gallery.fullscreen-modal {
  background: #000;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}
.image-gallery.fullscreen-modal .image-gallery-content {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
}
.image-gallery-content.fullscreen {
  background: #000;
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(100vh - 80px);
}
.image-gallery-content.left .image-gallery-slide .image-gallery-image, .image-gallery-content.right .image-gallery-slide .image-gallery-image {
  max-height: 100vh;
}

.image-gallery-slide-wrapper {
  position: relative;
}
.image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
  display: inline-block;
  width: calc(100% - 110px);
}
@media (max-width: 768px) {
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    width: calc(100% - 87px);
  }
}
.image-gallery-slide-wrapper.image-gallery-rtl {
  direction: rtl;
}

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}

.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.image-gallery-slide.center {
  position: relative;
}
.image-gallery-slide .image-gallery-image {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.4);
  bottom: 70px;
  color: #fff;
  left: 0;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  white-space: normal;
}
@media (max-width: 768px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 45px;
    font-size: 0.8em;
    padding: 8px 15px;
  }
}

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
}
.image-gallery-bullets .image-gallery-bullets-container {
  margin: 0;
  padding: 0;
  text-align: center;
}
.image-gallery-bullets .image-gallery-bullet {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px #1a1a1a;
          box-shadow: 0 2px 2px #1a1a1a;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
@media (max-width: 768px) {
  .image-gallery-bullets .image-gallery-bullet {
    margin: 0 3px;
    padding: 3px;
  }
}
@media (max-width: 480px) {
  .image-gallery-bullets .image-gallery-bullet {
    padding: 2.7px;
  }
}
.image-gallery-bullets .image-gallery-bullet:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: #337ab7;
  border: 1px solid #337ab7;
}
.image-gallery-bullets .image-gallery-bullet.active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid #fff;
  background: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-bullets .image-gallery-bullet:hover {
    background: #337ab7;
    border: 1px solid #337ab7;
  }
  .image-gallery-bullets .image-gallery-bullet.active:hover {
    background: #337ab7;
  }
}

.image-gallery-thumbnails-wrapper {
  position: relative;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
.image-gallery-thumbnails-wrapper.thumbnails-swipe-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}
.image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
  direction: rtl;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    width: 81px;
  }
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
  height: 100%;
  width: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
  display: block;
  margin-right: 0;
  padding: 0;
}
.image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 0;
  margin-top: 2px;
}
.image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
  margin: 0 5px;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    margin: 0 3px;
  }
}

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnails {
    padding: 3px 0;
  }
}
.image-gallery-thumbnails .image-gallery-thumbnails-container {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out;
  width: 100px;
  background: transparent;
  padding: 0;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail {
    border: 3px solid transparent;
    width: 81px;
  }
}
.image-gallery-thumbnail + .image-gallery-thumbnail {
  margin-left: 2px;
}
.image-gallery-thumbnail .image-gallery-thumbnail-inner {
  display: block;
  position: relative;
}
.image-gallery-thumbnail .image-gallery-thumbnail-image {
  vertical-align: middle;
  width: 100%;
  line-height: 0;
}
.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
  outline: none;
  border: 4px solid #337ab7;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail.active, .image-gallery-thumbnail:focus {
    border: 3px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border: 4px solid #337ab7;
  }
}
@media (hover: hover) and (pointer: fine) and (max-width: 768px) {
  .image-gallery-thumbnail:hover {
    border: 3px solid #337ab7;
  }
}

.image-gallery-thumbnail-label {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 0 2px 2px #1a1a1a;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: normal;
  width: 100%;
}
@media (max-width: 768px) {
  .image-gallery-thumbnail-label {
    font-size: 0.8em;
    line-height: 0.8em;
  }
}

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
@media (max-width: 768px) {
  .image-gallery-index {
    font-size: 0.8em;
    padding: 5px 10px;
  }
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border: none;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --bg-color: #efefef;
  --white-color: #fff;
  --white-color-bg: #efefef;
  --white-color-transparent: #ffffff9f;
  --black-color: #19191b;
  --black-transparent: #00000099;
  --green-color: #009688;
  --green-additional-color: #10ba18;
  --blue-color: #0088cc;
  --yellow-color: #eabc00;
  --pirple-color: #8e24aa;
  --blur: blur(15px);
  --border-radius: 8px;
  --box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif !important;
  color: var(--black-color);
  -webkit-transition: 0.3s !important;
  transition: 0.3s !important;
}
*:focus-visible {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--bg-color);
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Header {
  padding: 1% 4%;
  background-color: var(--white-color-transparent);
  position: fixed;
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

.Header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1800px;
}

.Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Logo-image {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.Logo-image svg {
  width: 60px;
  height: 60px;
}
.Logo-image svg g {
  fill: var(--black-color);
  -webkit-transform: scale(1.9);
          transform: scale(1.9);
}

.Left-header__els a {
  color: var(--black-color);
}

.Logo-title li:first-child {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 5px;
}
.Logo-title li:last-child {
  font-weight: 300;
  font-size: 16px;
  line-height: normal;
}

.Right-Header__list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Right-Contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Right-Contacts li:first-child {
  font-size: 12px;
  font-weight: 400;
}
.Right-Contacts li:nth-child(2) {
  font-weight: bold;
}
.Right-Contacts li:last-child button {
  border: none;
  outline: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  border-radius: var(--border-radius);
  color: var(--green-color);
}
.Right-Contacts li:last-child button span {
  color: inherit;
}
.Right-Contacts li:last-child button:hover {
  -webkit-box-shadow: 0px 0px 0px 1px var(--green-color), var(--box-shadow);
          box-shadow: 0px 0px 0px 1px var(--green-color), var(--box-shadow);
  color: var(--green-color);
  cursor: pointer;
  background-color: transparent;
}

.Number-link {
  margin: 5px 0;
}
.Number-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Number-link a svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.Number-link a span {
  margin-top: 5px;
}

.Main {
  margin-top: 120px;
}

.Contact-links {
  margin: 30px 0;
}

.Link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Telegram-link,
.Viber-link {
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Telegram-link span,
.Viber-link span {
  font-size: 14px !important;
}

.Telegram-link {
  padding: 2px 12px 0px 0px;
  background-color: var(--blue-color);
  fill: var(--white-color-bg);
}
.Telegram-link span {
  color: var(--white-color-bg);
}
.Telegram-link:hover {
  background-color: var(--white-color-bg);
  -webkit-box-shadow: 0px 0px 0px 1px var(--blue-color), var(--box-shadow);
          box-shadow: 0px 0px 0px 1px var(--blue-color), var(--box-shadow);
}
.Telegram-link:hover svg {
  fill: var(--blue-color);
}
.Telegram-link:hover span {
  color: var(--blue-color);
}

.Viber-link {
  background-color: var(--pirple-color);
  padding: 9px 12px;
  fill: var(--white-color-bg);
}
.Viber-link span {
  margin-left: 10px;
  color: var(--white-color-bg);
}
.Viber-link:hover {
  background-color: var(--white-color-bg);
  -webkit-box-shadow: 0px 0px 0px 1px var(--pirple-color), var(--box-shadow);
          box-shadow: 0px 0px 0px 1px var(--pirple-color), var(--box-shadow);
}
.Viber-link:hover svg {
  fill: var(--pirple-color);
}
.Viber-link:hover span {
  color: var(--pirple-color);
}

.WhatsApp-link {
  background-color: var(--green-additional-color);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 9px 12px;
  fill: var(--white-color-bg);
}
.WhatsApp-link span {
  margin-left: 10px;
  color: var(--white-color-bg);
}
.WhatsApp-link:hover {
  background-color: var(--white-color-bg);
  -webkit-box-shadow: 0px 0px 0px 1px var(--green-additional-color), var(--box-shadow);
          box-shadow: 0px 0px 0px 1px var(--green-additional-color), var(--box-shadow);
}
.WhatsApp-link:hover svg {
  fill: var(--green-additional-color);
}
.WhatsApp-link:hover span {
  color: var(--green-additional-color);
}

.Title-Form {
  margin: 0 4%;
}
.Title-Form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Title-Form ul li {
  max-height: 564px;
  max-width: 1800px;
  position: relative;
  border-radius: var(--border-radius);
}
.Title-Form ul li div:first-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.Title-Form ul li div:last-child {
  padding: 0 0 0 3%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--black-transparent);
  border-radius: var(--border-radius);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.Title-Form ul li div:last-child section {
  padding: 0px;
  margin-top: 11%;
}
.Title-Form ul li div:last-child section h1 {
  margin: 0;
  font-size: 4vw;
  color: var(--white-color);
  line-height: normal;
  font-weight: 600;
  letter-spacing: 2px;
}
.Title-Form ul li div:last-child section p {
  color: var(--white-color);
  font-size: 26px;
  font-weight: 400;
}
.Title-Form ul li div:last-child section button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--yellow-color);
  font-size: 18px;
  padding: 12px 25px;
}
.Title-Form ul li div:last-child section button span {
  margin-top: 1px;
  margin-right: 10px;
}
.Title-Form ul li div:last-child section button svg circle {
  fill: var(--black-color);
}
.Title-Form ul li div:last-child section button svg path {
  fill: var(--yellow-color);
}
.Title-Form ul li div:last-child section button:hover {
  background-color: var(--white-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  cursor: pointer;
}
.Title-Form ul li div:last-child section button:hover svg path {
  fill: var(--white-color);
}
.Title-Form ul li:hover div:last-child button {
  margin-left: 9px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Our-Services {
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Our-Services p {
  text-align: center;
  font-size: 20px;
}
.Our-Services h2 {
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 30px;
}

.Services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.Services-list li {
  background-color: var(--white-color);
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 760px;
  height: 205px;
  position: relative;
}
.Services-list li div {
  width: 10vw;
  height: 20vh;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin-right: 20px;
  width: 40%;
}
.Services-list li div div {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.Services-list li div div img {
  border-radius: var(--border-radius);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.Services-list li section {
  margin: 0;
  width: 50%;
}
.Services-list li section h4 {
  font-size: 20px;
  margin: 0;
  line-height: normal;
}
.Services-list li section p {
  margin-top: 5px;
  font-size: 15px;
  text-align: left;
}
.Services-list li section button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  right: 0;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: var(--border-radius);
  padding: 10px;
  margin: 0 10px 10px 0;
  -webkit-box-shadow: 0px 0px 0px 1px var(--yellow-color);
          box-shadow: 0px 0px 0px 1px var(--yellow-color);
}
.Services-list li section button span {
  margin-right: 10px;
}
.Services-list li section button svg circle {
  fill: var(--yellow-color);
}
.Services-list li section button svg path {
  fill: var(--white-color);
}
.Services-list li section button:hover {
  background-color: var(--black-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 2px var(--white-color);
          box-shadow: 0px 0px 0px 2px var(--white-color);
}
.Services-list li section button:hover span {
  color: var(--white-color);
}
.Services-list li section button:hover svg circle {
  fill: var(--white-color);
}
.Services-list li section button:hover svg path {
  fill: var(--black-color);
}
.AboutUs-title {
  margin-top: 8%;
  background-color: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1% 7% 1% 7%;
}
.AboutUs-title li {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AboutUs-title li div {
  margin-right: 15px;
}
.AboutUs-title li div svg {
  padding: 10px;
  width: 70px;
  height: 70px;
  border-radius: var(--border-radius);
  fill: var(--black-color);
  background-color: var(--white-color-bg);
}
.AboutUs-title li span {
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color-bg);
}
.AboutUs-title li:hover {
  cursor: pointer;
}
.AboutUs-title li:hover div svg {
  background-color: var(--black-color);
  fill: var(--white-color-bg);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 0px 1px var(--white-color-bg), var(--box-shadow);
          box-shadow: 0px 0px 0px 1px var(--white-color-bg), var(--box-shadow);
}

.AboutUs-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
  margin: 40px auto;
  border-bottom: 2px solid #c6c6c6;
}
.AboutUs-info li {
  margin: 10px;
}
.AboutUs-info li:last-child ul {
  width: 25vw;
  height: 50vh;
}
.AboutUs-info li:last-child ul li {
  width: 100%;
  height: 100%;
}
.AboutUs-info li:last-child ul li img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.AboutUs-info__title {
  max-width: 600px;
}
.AboutUs-info__title ul li:first-child {
  font-size: 2vw;
  font-weight: 800;
}
.AboutUs-info__title ul li:last-child p {
  margin-top: 20px;
}

.Merit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Merit-list__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}
.Merit-list__items li:first-child {
  margin-right: 20px;
}
.Merit-list__items li:first-child svg {
  width: 42px;
  height: 42px;
}
.Merit-list__items li:last-child ul li:first-child {
  font-weight: bold;
}
.Merit-list__items li:last-child ul li:last-child {
  font-size: 3vw;
  line-height: normal;
  font-weight: 800;
  color: var(--yellow-color);
}
.Merit-list__items li:last-child ul li:last-child span {
  color: var(--yellow-color);
}

.Consultation {
  margin: 80px 10%;
}
.Consultation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.Consultation ul li {
  position: relative;
  border-radius: var(--border-radius);
}
.Consultation ul li div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.Consultation ul li div:first-child {
  max-width: 1200px;
}
.Consultation ul li div:first-child img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius);
}
.Consultation ul li div:last-child {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: var(--black-transparent);
  border-radius: var(--border-radius);
}
.Consultation ul li div:last-child section:first-child {
  padding: 0px;
}
.Consultation ul li div:last-child section:first-child h2 {
  margin: 0;
  font-size: 38px;
  color: var(--white-color);
  line-height: normal;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 2%;
}
.Consultation ul li div:last-child section:first-child p {
  color: var(--yellow-color);
  font-weight: 600;
  font-size: 20px;
  width: 300px;
}
.Consultation ul li div:last-child section:first-child button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: var(--border-radius);
  background-color: var(--yellow-color);
  font-size: 18px;
  padding: 12px 25px;
}
.Consultation ul li div:last-child section:first-child button span {
  margin-top: 1px;
  margin-right: 10px;
}
.Consultation ul li div:last-child section:first-child button svg circle {
  fill: var(--black-color);
}
.Consultation ul li div:last-child section:first-child button svg path {
  fill: var(--yellow-color);
}
.Consultation ul li div:last-child section:first-child button:hover {
  background-color: var(--white-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  cursor: pointer;
}
.Consultation ul li div:last-child section:first-child button:hover svg path {
  fill: var(--white-color);
}
.Consultation ul li:hover div:last-child button {
  margin-left: 9px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.Consultation-form__list {
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.Consultation-form__list li:first-child input {
  border: 1px solid var(--bg-color);
  background-color: var(--white-color);
  padding: 10px 20px;
  font-size: 15px;
  border-radius: var(--border-radius);
  height: 55px;
  width: 100%;
}
.Consultation-form__list li:first-child input:hover {
  background-color: var(--bg-color);
}
.Consultation-form__list li:last-child {
  margin-left: 20px;
}
.Consultation-form__list li:last-child input {
  padding: 20px;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: #fecb00;
}
.Consultation-form__list li:last-child input:hover {
  cursor: pointer;
  background-color: var(--yellow-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.Footer {
  width: 100%;
  background-color: var(--black-color);
  padding: 40px 50px;
}

.Footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.Footer-list li:last-child ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Footer-list li:last-child ul li {
  padding-right: 15px;
}
.Footer-list li:last-child ul li:first-child {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.Footer-list li:last-child ul li img {
  -o-object-fit: cover;
     object-fit: cover;
}
.Footer-list li:last-child ul li:last-child {
  padding-right: 0px;
}

.Footer-title {
  color: var(--white-color);
  margin-bottom: 30px;
}

.Footer-title__list li p {
  font-size: 15px;
  font-weight: 600;
  color: #8a8a88;
  margin-bottom: 10px;
}
.Footer-title__list li a {
  color: var(--white-color);
  display: block;
}
.Footer-title__list li a span {
  color: inherit;
  font-size: 22px;
}
.Footer-title__list li:first-child {
  margin-bottom: 30px;
}
.Footer-title__list li:first-child a:last-child {
  margin-top: 5px;
  color: var(--yellow-color);
  text-decoration: underline;
}
.Footer-title__list li:last-child a span {
  font-size: 17px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black-transparent);
  -webkit-backdrop-filter: var(--blur);
          backdrop-filter: var(--blur);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2 !important;
}

.Modal-Content {
  background-color: var(--white-color);
  padding: 20px 0px 20px 20px;
  border-radius: var(--border-radius) 9px 9px var(--border-radius);
  position: relative;
}

.Modal-Close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  outline: none;
  -webkit-transition: -webkit-transform 800ms 0ms ease;
  transition: -webkit-transform 800ms 0ms ease;
  transition: transform 800ms 0ms ease;
  transition: transform 800ms 0ms ease, -webkit-transform 800ms 0ms ease;
  border-radius: 50%;
  padding: 10px;
  background-color: var(--transparent);
  z-index: 2;
}
.Modal-Close svg {
  width: 18px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Modal-Close svg path {
  fill: var(--white-color);
}
.Modal-Close:hover {
  -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
          transform: rotateX(0deg) rotateY(0deg) rotateZ(180deg);
}

.Modal-List__Content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.Modal-List__Content li h3 {
  text-align: center;
  font-size: 25px;
  margin: 20px 0;
}

.Form-List li label input,
.Form-List li label textarea {
  border: 1px solid var(--bg-color);
  background-color: var(--white-color);
  padding: 10px 20px;
  font-size: 15px;
  margin: 10px 0px 0px 0px;
  border-radius: var(--border-radius);
  height: 55px;
  width: 100%;
}
.Form-List li label input:hover,
.Form-List li label textarea:hover {
  background-color: var(--bg-color);
}
.Form-List li label textarea {
  padding-top: 15px;
  height: 117px;
  width: 330px;
  resize: vertical;
}

.Form-Item__termsOfUse {
  margin: 15px 0;
}
.Form-Item__termsOfUse label {
  margin-left: 10px;
}

.Form-Item__Button {
  margin-top: 10px;
}
.Form-Item__Button input {
  padding: 20px;
  width: 100%;
  border-radius: var(--border-radius);
  font-weight: bold;
  background-color: #fecb00;
}
.Form-Item__Button input:hover {
  cursor: pointer;
  background-color: var(--yellow-color);
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
}

.Modal-Item__Image ul li:first-child {
  position: absolute;
  background-color: var(--black-transparent);
  width: 360px;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  top: 0;
  right: 0px;
  bottom: 0;
  z-index: 1;
}
.Modal-Item__Image ul li:last-child {
  position: relative !important;
}
.Modal-Item__Image ul li:last-child img {
  width: 360px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 30px;
  border-radius: var(--border-radius);
}

.Zoom {
  -webkit-animation: 1000ms 0ms 1 both;
          animation: 1000ms 0ms 1 both;
  opacity: 1;
  -webkit-animation-name: Zoom;
          animation-name: Zoom;
}

.Fade-Top {
  -webkit-animation: 1000ms 0ms 1 both;
          animation: 1000ms 0ms 1 both;
  opacity: 1;
  -webkit-animation-name: Fade-Top;
          animation-name: Fade-Top;
}

.Fade-Bottom {
  -webkit-animation: 1000ms 0ms 1 both;
          animation: 1000ms 0ms 1 both;
  opacity: 1;
  -webkit-animation-name: Fade-Bottom;
          animation-name: Fade-Bottom;
}

@-webkit-keyframes Zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes Zoom {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes Fade-Top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes Fade-Top {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, -100%, 0px);
            transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes Fade-Bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes Fade-Bottom {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0px, 100%, 0px);
            transform: translate3d(0px, 100%, 0px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.Carousel {
  background-color: #19191b;
  padding-top: 100px;
}

.Carousel-section h4 {
  text-align: center;
  font-size: 20px;
  color: #eabc00;
  font-weight: normal;
}
.Carousel-section p {
  font-weight: 600;
  font-size: 3vw;
  color: #efefef;
  text-align: center;
}

.image-gallery {
  padding: 5% 15%;
}

.image-gallery-image {
  border-radius: var(--border-radius) !important;
}

.image-gallery-icon svg {
  fill: #fff;
}

.image-gallery-thumbnail-image {
  border-radius: var(--border-radius);
}

.image-gallery-thumbnail {
  border-radius: 10px !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
  outline: none;
  border-radius: 10px !important;
  border: 4px solid #efefef !important;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-thumbnail:hover {
    outline: none;
    border-radius: 10px !important;
    border: 4px solid #efefef !important;
    cursor: pointer;
  }
}
@media screen and (max-width: 1440px) {
  .Main {
    margin-top: 110px;
  }
}
@media screen and (max-width: 1024px) {
  .Main {
    margin-top: 100px;
  }
}
@media screen and (max-width: 768px) {
  .Main {
    margin-top: 90px;
  }
  .AboutUs-info__image {
    display: none;
  }
  .AboutUs-title li span {
    font-size: 15px;
  }
  .AboutUs-title li div svg {
    width: 60px;
    height: 60px;
  }
  .Services-list li {
    width: 520px;
    height: auto;
  }
  .Services-list li:last-child {
    height: 250px;
  }
  .Consultation ul li div {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .AboutUs-info__title ul li:first-child {
    font-size: 3vw;
  }
}
@media screen and (max-width: 425px) {
  .Consultation {
    display: none;
  }
  .Footer-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .Footer-list li:last-child ul {
    display: none;
  }
  .Footer-title {
    display: none;
  }
  .Carousel {
    padding-top: 25px;
  }
  .image-gallery {
    padding: 5% 7%;
  }
  .Title-Form ul li div:last-child {
    -webkit-backdrop-filter: blur(0px);
            backdrop-filter: blur(0px);
  }
  .Title-Form ul li div:last-child section {
    margin-top: 4%;
  }
  .Title-Form ul li div:last-child section p {
    font-size: 15px;
  }
  .Title-Form ul li div:last-child section button {
    padding: 6px 12px;
  }
  .Modal-Content {
    padding: 10px;
  }
  .Modal-Close {
    top: 0px;
    right: 0px;
  }
  .Modal-Close svg path {
    fill: var(--black-color);
  }
  .Modal-Item__Image {
    display: none;
  }
  .Our-Services {
    margin-top: 50px;
  }
  .Our-Services h2 {
    margin-bottom: 5px;
  }
  .Main {
    margin-top: 70px;
  }
  .Logo-image svg {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .Right-Contacts li:first-child {
    display: none;
  }
  .Logo-title li {
    display: none;
  }
  .Telegram-link {
    padding-right: 5px;
  }
  .Link-list li a span {
    display: none;
  }
  .Services-list li {
    width: 370px;
    height: 200px;
  }
  .Services-list li:last-child {
    height: 320px;
  }
  .Merit-list {
    padding: 0 5%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .AboutUs-title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
  .AboutUs-title li {
    margin: 25px 0px 25px 25px;
  }
  .Merit-list__items {
    padding: 25px 0;
  }
  .Merit-list__items li ul li {
    font-size: 4.5vw !important;
  }
  .Merit-list__items li ul li span {
    font-size: 6vw;
  }
}
@media screen and (max-width: 325px) {
  .Form-Item__Button input {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
  .Modal-Content {
    padding: 20px;
  }
  .Form-List li label input,
  .Form-List li label textarea {
    padding: 10px 10px;
  }
  .Form-List li label textarea {
    width: 290px;
  }
}
@media screen and (max-width: 320px) {
  .Title-Form ul li div:last-child section h1 {
    font-size: 15px;
  }
  .Title-Form ul li div:last-child section button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .Our-Services {
    margin-top: 10px;
  }
  .Our-Services p:first-child {
    display: none;
  }
  .Our-Services h2 {
    display: none;
  }
  .Services-list li {
    width: 290px;
    height: 230px;
  }
  .Services-list li:last-child {
    height: 420px;
  }
}