main {
    margin-top: 150px;
}

.Contact-links {
    margin: 30px 0;
}

.Link-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Telegram-link,
.Viber-link {
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    span {
        font-size: 14px !important;
    }
}

.Telegram-link {
    padding: 2px 12px 0px 0px;
    background-color: var(--blue-color);
    fill: var(--white-color-bg);
    span {
        color: var(--white-color-bg);
    }
    &:hover {
        svg {
            fill: var(--blue-color);
        }
        background-color: var(--white-color-bg);
        box-shadow: 0px 0px 0px 1px var(--blue-color), var(--box-shadow);
        span {
            color: var(--blue-color);
        }
    }
}

.Viber-link {
    background-color: var(--pirple-color);
    padding: 9px 12px;
    fill: var(--white-color-bg);
    span {
        margin-left: 10px;
        color: var(--white-color-bg);
    }
    &:hover {
        svg {
            fill: var(--pirple-color);
        }
        background-color: var(--white-color-bg);
        box-shadow: 0px 0px 0px 1px var(--pirple-color), var(--box-shadow);
        span {
            color: var(--pirple-color);
        }
    }
}

.WhatsApp-link {
    background-color: var(--green-additional-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    padding: 9px 12px;
    fill: var(--white-color-bg);
    span {
        margin-left: 10px;
        color: var(--white-color-bg);
    }
    &:hover {
        svg {
            fill: var(--green-additional-color);
        }
        background-color: var(--white-color-bg);
        box-shadow: 0px 0px 0px 1px var(--green-additional-color),
            var(--box-shadow);
        span {
            color: var(--green-additional-color);
        }
    }
}

.Title-Form {
    margin: 0 4%;

    ul {
        display: flex;
        justify-content: center;
        li {
            max-height: 564px;
            max-width: 1800px;
            position: relative;
            border-radius: var(--border-radius);

            div {
                &:first-child {
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--border-radius);
                    }
                }
                &:last-child {
                    padding: 0 0 0 3%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    background-color: var(--black-transparent);
                    border-radius: var(--border-radius);
                    backdrop-filter: blur(5px);
                    section {
                        padding: 0px;
                        margin-top: 11%;
                        h1 {
                            margin: 0;
                            font-size: 4vw;
                            color: var(--white-color);
                            line-height: normal;
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                        p {
                            color: var(--white-color);
                            font-size: 26px;
                            font-weight: 400;
                        }
                        button {
                            display: flex;
                            align-items: center;
                            margin-top: 20px;
                            border: none;
                            outline: none;
                            border-radius: var(--border-radius);
                            background-color: var(--yellow-color);
                            font-size: 18px;
                            padding: 12px 25px;
                            span {
                                margin-top: 1px;
                                margin-right: 10px;
                            }
                            svg {
                                circle {
                                    fill: var(--black-color);
                                }
                                path {
                                    fill: var(--yellow-color);
                                }
                            }
                            &:hover {
                                background-color: var(--white-color);
                                box-shadow: var(--box-shadow);
                                cursor: pointer;
                                svg {
                                    path {
                                        fill: var(--white-color);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &:hover {
                div {
                    &:last-child {
                        button {
                            margin-left: 9px;
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

.Our-Services {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
        text-align: center;
        font-size: 20px;
    }
    h2 {
        text-align: center;
        font-size: 3vw;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 30px;
    }
}

.Services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 4%;

    li {
        background-color: var(--white-color);
        border-radius: var(--border-radius);
        display: flex;
        margin: 10px;
        padding: 10px;

        position: relative;
        div {
            width: 10vw;
            height: 20vh;
            flex-shrink: 1;
            -webkit-box-flex: 0;
            flex-grow: 0;
            margin-right: 20px;
            width: 40%;
            div {
                width: 100%;
                height: 100%;
                display: inline-block;
                vertical-align: top;
                img {
                    border-radius: var(--border-radius);
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        section {
            margin: 0;
            width: 50%;
            h4 {
                font-size: 20px;
                margin: 0;
                line-height: normal;
            }
            p {
                margin-top: 5px;
                font-size: 15px;
                text-align: left;
            }
            button {
                position: absolute;
                display: flex;
                align-items: center;
                bottom: 0;
                right: 0;
                border: none;
                outline: none;
                background-color: transparent;
                backdrop-filter: blur(15px);
                border-radius: var(--border-radius);
                padding: 10px;
                margin: 0 10px 10px 0;
                box-shadow: 0px 0px 0px 1px var(--yellow-color);
                span {
                    margin-right: 10px;
                }
                svg {
                    circle {
                        fill: var(--yellow-color);
                    }
                    path {
                        fill: var(--white-color);
                    }
                }
                &:hover {
                    background-color: var(--black-color);
                    span {
                        color: var(--white-color);
                    }
                    svg {
                        circle {
                            fill: var(--white-color);
                        }
                        path {
                            fill: var(--black-color);
                        }
                    }
                    cursor: pointer;
                    box-shadow: 0px 0px 0px 2px var(--white-color);
                }
            }
        }
        &:hover {
            // box-shadow: var(--box-shadow);
        }
    }
}

.AboutUs-title {
    margin-top: 80px;
    background-color: var(--black-color);
    display: flex;
    justify-content: center;
    padding: 70px 70px 50px 70px;
    li {
        margin: 20px;
        display: flex;
        align-items: center;
        div {
            margin-right: 15px;
            svg {
                padding: 10px;
                width: 70px;
                height: 70px;
                border-radius: var(--border-radius);
                fill: var(--black-color);
                background-color: var(--white-color-bg);
            }
        }
        span {
            font-weight: 600;
            font-size: 20px;
            color: var(--white-color-bg);
        }
        &:hover {
            cursor: pointer;
            div {
                svg {
                    background-color: var(--black-color);
                    fill: var(--white-color-bg);
                    transform: scale(1.1);
                    box-shadow: 0px 0px 0px 1px var(--white-color-bg),
                        var(--box-shadow);
                }
            }
        }
    }
}
